<div class="otherservices">

	<div class="five columns offset-by-one">

		<h4><i class="fa fa-files-o"></i> Marketing Offline, Printing Services:</h4>

		<p>We offer Complete Services of Printing and Design with the ultimate standards and the best quality in the market including Digital Photography, Office Stationery, Business documents, Manuals, Reporting Docs, Catalogs, among others. All in full Color or Black and White with different kinds of quality papers and formats. For more specific products, see below.</p>

		<%= active_link_to "Request a quote", new_contact_path, class: "button" %>

		<%= image_tag "girl_digital_print_purplestone.jpg" %>

		<hr class="light">
		<h2>Brochures and Flyers</h2>
		<p>High quality brochures - single or double sided in A5 to A4 (portrait format) sizes, and quality promotional flyers all printed in full colour (CMYK)</p>

		<ol>
			<li>Choose from a range of paper weight and Gloss or Silk paper</li>
			<li>Full Colour or Black and White</li>
			<li>Available in A4 or A5 formats</li>
			<li>48 hour turnaround guarantee</li>
		</ol>

		<%= active_link_to "Request a quote", new_contact_path, class: "button" %>

		<hr class="light">
		<h2>Magazines and Booklets</h2>
		<p>Our high quality booklets are available in A4 or A5 sizes. Printed on quality and certified paper.</p>
		
		<ol>
			<li>Choose from a range of paper weight and brightness for the cover</li>
			<li>Full Colour or Black and White</li>
			<li>Available in A4 or A5 formats</li>
			<li>Stapled in the centre twice and folded</li>
			<li>48 hour turnaround guarantee</li>
		</ol>

		<%= active_link_to "Request a quote", new_contact_path, class: "button" %>

		<hr class="light">
		<h2>Business Cards</h2>
		<p>A good way to impress is with a good-design Business Card. We make Business Cards of high quality and cost effective. Our bespoke service can give you the opportunity to be unique and original. With us you can have packs starting with Full Colour Single Sided, and Full Colour Double Sided.</p>

		<%= active_link_to "Request a quote", new_contact_path, class: "button" %>

		<hr class="light">
		<h2>A3 Posters</h2>
		<p>We can deliver posters in A4 and A3 available in full colour (CMYK). Printed on quality and certified paper.</p>

		<ol>
			<li>Full vibrant colour (CMYK)</li>
			<li>220gsm quality paper – top  material</li>
			<li>Available in A4 or A3 formats</li>
			<li>48 hour turnaround guarantee</li>
		</ol>

		<%= active_link_to "Request a quote", new_contact_path, class: "button" %>

	</div>

	<div class="four columns offset-by-one">
		<h4><i class="fa fa-star"></i> Branding</h4>
		<h2>Visual Identity and Logo Design:</h2>

		<%= image_tag "brands_purplestone.jpg" %>

		<p>We establish the communication strategy, we develop action programs and manage production employing the most current technology in existing media.</p>

		<hr class="light">
		<h2>Full communication services are offered, from research to implementation.</h2>

		<%= image_tag "camera_silohuete_colors_purplestone.jpg" %>

		<p>Our services include Art Direction, Creativity and Production of Communication Projects, design projects, redesigning and implementation of Corporate Visual Identity and logo design.</p>

		<p>Our work process, based on Research, Experience and Creativity allows us to create Design Solutions for complex Communication problems of Visual Identity.</p>

		<p>With us, you can create your Visual Identity, Communication Strategy and Corporate Logos. You can redesign your logo, make intervention programs, and manage the production of all your communication needs.</p>

		<p>With the most competitive rates, professionally, and always performing a unique solution because each communication problem requires a specific solution, we are able to undertake projects very quickly.</p>

		<%= active_link_to "Request a quote", new_contact_path, class: "button" %>

	</div>


</div>
