<div class="ten columns offset-by-one portfolio">

	<h4><i class="fa fa-pagelines"></i> Portfolio</h4>

	<div class="row">

<!-- Least Gallery -->
<section id="least">

  <!-- Least Gallery: Fullscreen Preview -->
  <div class="least-preview"></div>

    <!-- Least Gallery: Thumbnails -->
    <ul class="least-gallery">
      <!-- 1th thumbnail -->
        <li>
          <%= link_to(image_path( "webprojects/purplestonerooms.png", :"data-caption" => "Purple Stone Rooms Website")) do %>
				<%= image_tag("webprojects/thumb/purplestonerooms_thumb.png", :alt => "Purple Stone Rooms Website", :title => "Purple Stone Rooms Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_tag("webprojects/thumb/purplestoneacademy_thumb.png", :alt => "Purple Stone Academy Website", :title => "Purple Stone Academy Website"), image_path( "webprojects/purplestoneacademy.png", :"data-caption" => "Purple Stone Academy Website")) %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/purplestonecareeradvice.png", :"data-caption" => "Purple Stone Career Advice Website")) do %>
				<%= image_tag("webprojects/thumb/purplestonecareeradvice_thumb.png", :alt => "Purple Stone Career Advice Website", :title => "Purple Stone Career Advice Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/purplestonegroup.png", :"data-caption" => "Purple Stone Group Website")) do %>
				<%= image_tag("webprojects/thumb/purplestonegroup_thumb.png", :alt => "Purple Stone Group Website", :title => "Purple Stone Group Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/lakett.png", :"data-caption" => "Lakett Website")) do %>
				<%= image_tag("webprojects/thumb/lakett_thumb.png", :alt => "Lakett Website", :title => "Lakett Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/otegui.png", :"data-caption" => "Carnicería Otegui Website")) do %>
				<%= image_tag("webprojects/thumb/otegui_thumb.png", :alt => "Carnicería Otegui Website", :title => "Carnicería Otegui Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/margube.png", :"data-caption" => "Margube Website")) do %>
				<%= image_tag("webprojects/thumb/margube_thumb.png", :alt => "Margube Website", :title => "Margube Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/tromoga.png", :"data-caption" => "Tromoga Website")) do %>
				<%= image_tag("webprojects/thumb/tromoga_thumb.png", :alt => "Tromoga Website", :title => "Tromoga Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/contrahumed.png", :"data-caption" => "Contrahumed Website")) do %>
				<%= image_tag("webprojects/thumb/contrahumed_thumb.png", :alt => "Contrahumed Website", :title => "Contrahumed Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/silviovazstudio.png", :"data-caption" => "SilvioVazStudio Website")) do %>
				<%= image_tag("webprojects/thumb/silviovazstudio_thumb.png", :alt => "SilvioVazStudio Website", :title => "SilvioVazStudio Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/muruamendiaraz.png", :"data-caption" => "Muruamendiaraz Website")) do %>
				<%= image_tag("webprojects/thumb/muruamendiaraz_thumb.png", :alt => "Muruamendiaraz Website", :title => "Muruamendiaraz Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/cadenasiris.png", :"data-caption" => "Cadenas Iris Website")) do %>
				<%= image_tag("webprojects/thumb/cadenasiris_thumb.png", :alt => "Cadenas Iris Website", :title => "Cadenas Iris Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/markina.png", :"data-caption" => "Markina Website")) do %>
				<%= image_tag("webprojects/thumb/markina_thumb.png", :alt => "Markina Website", :title => "Markina Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/txurruka.png", :"data-caption" => "Txurruka Website")) do %>
				<%= image_tag("webprojects/thumb/txurruka_thumb.png", :alt => "Txurruka Website", :title => "Txurruka Website") %>
				<% end %>
        </li>
        <li>
          <%= link_to(image_path( "webprojects/logotipos.png", :"data-caption" => "Logotipos Website")) do %>
				<%= image_tag("webprojects/thumb/logotipos_thumb.png", :alt => "Logotipos Website", :title => "Logotipos Website") %>
				<% end %>
        </li>
    </ul>

</section>
<!-- Least Gallery end -->

		



	</div>

</div>