<div class="ten columns offset-by-one portfolio">

	<h4><i class="fa fa-pagelines"></i> Portfolio</h4>

	<div class="row">

<!-- Least Gallery -->
<section id="least">

  <!-- Least Gallery: Fullscreen Preview -->
  <div class="least-preview"></div>

    <!-- Least Gallery: Thumbnails -->
    <ul class="least-gallery">
      <!-- 1th thumbnail -->
        <li>
          <%= link_to image_path('webprojects/purplestonerooms.png'), title: "Purple Stone Rooms", data: { caption: "<strong>Purple Stone Rooms</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/purplestonerooms_thumb.png', alt: 'Purple Stone Rooms Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/purplestoneacademy.png'), title: "Purple Stone Academy", data: { caption: "<strong>Purple Stone Academy</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/purplestoneacademy_thumb.png', alt: 'Purple Stone Academy Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/purplestonecareeradvice.png'), title: "Purple Stone Career Advice", data: { caption: "<strong>Purple Stone Career Advice</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/purplestonecareeradvice_thumb.png', alt: 'Purple Stone Career Advice Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/purplestonegroup.png'), title: "Purple Stone Group", data: { caption: "<strong>Purple Stone Group</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/purplestonegroup_thumb.png', alt: 'Purple Stone Group Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/lakett.png'), title: "Lakett", data: { caption: "<strong>Lakett</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/lakett_thumb.png', alt: 'Lakett Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/otegui.png'), title: "Carnicería Otegui", data: { caption: "<strong>Carnicería Otegui</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/otegui_thumb.png', alt: 'Carnicería Otegui Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/margube.png'), title: "Margube", data: { caption: "<strong>Margube</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/margube_thumb.png', alt: 'Margube Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/tromoga.png'), title: "Tromoga", data: { caption: "<strong>Tromoga</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/tromoga_thumb.png', alt: 'Tromoga Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/contrahumed.png'), title: "Contrahumed", data: { caption: "<strong>Contrahumed</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/contrahumed_thumb.png', alt: 'Contrahumed Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/silviovazstudio.png'), title: "SilvioVazStudio", data: { caption: "<strong>SilvioVazStudio</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/silviovazstudio_thumb.png', alt: 'SilvioVazStudio Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/muruamendiaraz.png'), title: "Muruamendiaraz", data: { caption: "<strong>Muruamendiaraz</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/muruamendiaraz_thumb.png', alt: 'Muruamendiaraz Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/cadenasiris.png'), title: "Cadenas Iris", data: { caption: "<strong>Cadenas Iris</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/cadenasiris_thumb.png', alt: 'Cadenas Iris Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/markina.png'), title: "Markina", data: { caption: "<strong>Markina</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/markina_thumb.png', alt: 'Markina Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/txurruka.png'), title: "Txurruka", data: { caption: "<strong>Txurruka</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/txurruka_thumb.png', alt: 'Txurruka Website' %>
          <% end %>
        </li>

        <li>
          <%= link_to image_path('webprojects/logotipos.png'), title: "LogosyLogotiposParaEmpresas", data: { caption: "<strong>LogosyLogotiposParaEmpresas</strong> Website"} do %>
            <%= image_tag 'webprojects/thumb/logotipos_thumb.png', alt: 'LogosyLogotiposParaEmpresas Website' %>
          <% end %>
        </li>
    </ul>

</section>
<!-- Least Gallery end -->

		



	</div>

</div>