<div class="webdevelopment">

	<div class="six columns offset-by-one">

		<div class="row">

			<div class="row">

				<h5>E-commerce from mobile (Desktop, Laptop, Tablet, Mobile)</h5>
				<h2><i class="fa fa-shopping-cart"></i> On-line Shop (E-Commerce):</h2>
				<br />

				<%= image_tag "tienda_movil.png" %>

				<div class="standardfeat">
					<br />
					<h2>Dynamic Stores Solutions with admin control panel (CMS) for easy maintenance and updating by the client. Responsive Design: Design oriented and optimized for the correct visualization and interaction in existing mobile devices: phones, tablet computers, laptops and desktops.</h2>
				</div>
				
			</div>

			<br />
			<h4>Functions included:</h4>

		    <ol>
		    	<li>Homepage with trade business presentation or automatically changing images (Slideshow) and featured products or recent products. Search function on the site for all products.</li>
		    	<li>About us page and the history of business.</li>
		    	<li>Online store with all products with images. Sections ordered by categories and subcategories, Stock control, Shopping Cart, PayPal System and TPV online payment. Automatic Social networking share buttons.<br />
		    	Note: Introduction of the first 20 products.</li>
		    	<li>User profile private section with address, orders, etc.</li>
		    	<li>Explanation of the buying process through the application.</li>
		    	<li>News Section, Deals and articles in blog format.</li>
		    	<li>Contact form.</li>
		    	<li>Geolocalization with Google map function.</li>
		    	<li>Management and administration of domain names and web hosting first year included in the price.</li>
		    </ol>
		    <br />

		    <h4>Optional features may include:</h4>
		    <p>Special SEO positioning.
		    <br />Online Marketing specialisized and customized to communication strategy.</p>

			<%= active_link_to "Request a cuote", new_contact_path, class: "button" %>
			<br />
			<br />
			<hr class="light">
		</div>


		<div class="row">

			<div class="row">

				<h5>Corporate Website, with Blog or other Requirements</h5>
				<h2><i class="fa fa-globe"></i> Corporate Website:</h2>
				<br />

				<%= image_tag "sitio_web.png"  %>

				<div class="five columns standardfeat">
					<br />
					<h2>Dynamic Sites Solutions with admin control panel (CMS) for easy maintenance and updating by the client. Responsive Design: Design oriented and optimized for the correct visualization and interaction in existing mobile devices: phones, tablet computers, laptops and desktops.</h2>
				</div>
					
			</div>		
		
			<br />
			<h4>Functions included:</h4>

		    <ol>
		    	<li>Home page with the business, trade or company´s presentation, with automatically changing images (Slideshow).
		    	<li>Search function on the site.</li>
		    	<li>About us page and history of the entity.</li>
		    	<li>Services or products catalog with images.</li>
		    	<li>Images gallery.</li>
		    	<li>Contact form.</li>
		    	<li>Google map with automatic routing function.</li>
		    	<li>Management and administration of domain names and web hosting first year included in the price.</li>
		    </ol>
		    <br />

		    <h4>Optional features may include:</h4>
		    <p>Blog for news, offers and interest articles.
		    <br />Private content (files and folders) and password controlled.</p>

			<%= active_link_to "Request a cuote", new_contact_path, class: "button" %>
			<br />
			<br />
			<hr class="light">

		</div>

		<div class="row">

			<div class="row">

				<h5>Custom Web Application</h5>
				<h2><i class="fa fa-rocket"></i> Creative and Special Applications:</h2>
				<br />

				<%= image_tag "web_medida.png" %>

				<div class="five columns standardfeat">
					<br />
					<h2>This service is geared to meet specialized customer needs in high-level digital solutions. The idea is to provide support and resources both design and programming special ideas and innovative solely with the objective of creating a collaborative system in which customers benefit from the exclusivity of bespoke and custom projects under the highest standards current</h2>
				</div>
				
			</div>		
			
			<br />
			<p>Responsive Design: Design oriented and optimized for the correct visualization and interaction in existing mobile devices: phones, tablet computers, laptops and desktops.</p>

			<p>Design and custom programming. Web Applications solutions with direct benefits: Collection services or information through SMS, tools and premium content, etc.</p>

		    <h4>Functions may included this service:</h4>
		    <p>Management and administration of domain names and web hosting.
		    <br />SEO positioning specialized.
		    <br />On-line & off-lineMarketing.</p>

			<%= active_link_to "Request a cuote", new_contact_path, class: "button" %>
			<br />
			<br />			
		</div>

	</div>

	<div class="three columns offset-by-one">

		<h4>Web Development</h4>
		<h2><i class="fa fa-bookmark"></i> Web Design:</h2>
		<p>Graphic Design Services. We develop visual communication strategies, we make the structure of the website and put in order the content as well. We are Creativity Consultants and we bring to you the newest trends ideas to develop your web application.</p>
		<hr class="light">
		<br />

		<h2><i class="fa fa-tablet"></i> Responsive Design:</h2>
		<p>We make Responsive Design Solutions, optimizing our Websites for the correct interaction with existing mobile devices: phones, tablet, laptops and desktops. We use Bootstrap v.3 Framework technology.</p>
		<hr class="light">
		<br />

		<h2><i class="fa fa-code"></i> Web Developer:</h2>
		<p>We write the code of web applications for the needs of the final solution. We are Front-end Developers, and we make the difficult easy. We deliver CMS Solutions (Content Management Systems) for the customer in order to modify and update the final solution as well.</p>
		<hr class="light">
		<br />

		<h2><i class="fa fa-list-ol"></i> SEO for search engnes:</h2>
		<p>Training and implementation of techniques for the website positioning (on-page SEO).
	    Optimizing content (text, images and labels) for SEO positioning.
	    Technical optimization of the application using the latest trends in web technology: maps indexing robots, code compression, implementation of friendly URL's, among others.
	    Training and implementation of positioning techniques on the web (SEO off-page) through strategies and avoiding bad invasive techniques such as fraud or spam.</p>
		<hr class="light">
		<br />

		<h2><i class="fa fa-laptop"></i> On-line Marketing:</h2>
		<p>Development of special positioning and promotional campaigns based in marketing strategies using Newsletters. Implementation of online marketing techniques supporting the positioning strategy.</p>
		<hr class="light">
		<br />

		<h2><i class="fa fa-cloud"></i> Domains and web hosting:</h2>
		<p>Management and administration of domain names: domain-name.COM, domain-name.CO.UK, etc. Management and administration of web hosting.</p>
		<hr class="light">
		<br />

		
	</div>

</div>