<section class="video_form">

  <div id="slider" class="flexslider">
    <ul class="slides">
      <li>
        <h2>Let Us Optimize Your Marketing Campaign And Double Your Profits</h2>
        <%= image_tag "slide_onlinemark_psm.png" %>
        <div class="transp"></div>
      </li>
      <li>
        <h2>Turn Your Business Around By Rebranding, Copywriting, Video Editing and Graphic Design!</h2>
        <%= image_tag "slide_video_psm.png" %>
        <div class="transp"></div>
      </li>
      <li>
        <h2>Want to Get A Responsive Mobile Website? Get Quick CMS Solutions For Your Small Business</h2>
        <div class="transp"></div>
        <%= image_tag "slide_responsive_psm.png" %>
      </li>
    </ul>
  </div>

</section>

<section class="eight columns">

    <div class="postslist">
        <div class="single_post group">

      <% @posts.each do |post| %>
        <div class="single_post group">

            <div class="post_details">
              <h2><%= link_to post.title, category_post_path(post.category, post) %></h2>
              <%= image_tag post.image(:header), class: "post_image" %>
              <p><%= format truncate post.body, length: 100 %></p>
            </div>

        </div>
      <% end %>

        </div>
    </div>

</section>

<section class="four columns">

<%= render :partial => 'shared/categoriesmenu' %>

</section>