<!doctype html>
<html>
<head>
  <title>Purple Stone Media</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="container">
		<div class="row">
			<h1 id="top" class="three columns">
				<%= link_to(root_path) do %>
				<%= image_tag "logo_psm.png" %>
				<% end %>
			</h1>

			<div class="four columns slogan">
				<h2>Profitable Business Solutions</h2>
			</div>

			<div class="five columns header_right_side">
				<div class="header_right">
					<phone class="muted"><span class="fa-stack">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
					</span> 0207 247 1440</phone>

					<div>
					</div>
					
					<div class="stay-in-touch-icons">
						<!-- <a class="twitter" href="https://twitter.com/PurpleSAcademy" target="_blank" title="Follow us on Twitter">Follow us on Twitter</a> -->
						<a class="facebook" href="https://www.facebook.com/pages/Purple-Stone-Media/673638562674231?skip_nax_wizard=true" target="_blank" title="Follow us on Facebook">Follow us on Facebook</a>
						<a class="google-plus" href="https://plus.google.com/b/107972343104688153846/107972343104688153846/about" target="_blank" title="Follow us on Google Plus">Follow us on Google Plus</a>
						<!-- <a class="linkedin" href="http://www.linkedin.com/groups/Purple-Stone-Academy-6543537" target="_blank" title="Follow us on Linkedin">Follow us on Linkedin</a> -->
						<a class="pinterest" href="http://www.pinterest.com/pstonemedia/" target="_blank" title="Follow us on Pinterest">Follow us on Pinterest</a>
						<!-- <a class="youtube" href="http://www.youtube.com/watch?v=1x0vD3r9mbk" target="_blank" title="Follow us on Youtube">Follow us on Youtube</a> -->
					</div>
					</div>
				</div>

			</div>
		</div> <!--  .row -->

		<nav class="row">
			<ul id="menu">
				<li><%= active_link_to "HOME", root_path, class: "first" %></li>
				<li><%= active_link_to "WEB DEVELOPMENT", webdevelopment_path, class: "link" %></li>
				<li><%= active_link_to "MARKETING", marketing_path, class: "link" %></li>
				<li><%= active_link_to "VIDEO EDITING", video_path, class: "link" %></li>
				<li><%= active_link_to "OTHER SERVICES", otherservices_path, class: "link" %></li>
				<li><%= active_link_to "PORTFOLIO", portfolio_path, class: "link" %></li>
				<li><%= active_link_to "BLOG", categories_path, class: "link" %></li>
				<li><%= active_link_to "CONTACT", new_contact_path, class: "last" %></li>
			</ul>
		</nav> <!--  .row -->

	</header> <!--  .container -->


	<div class="body_background">
		<div class="container content">
			<% flash.each do |key, value| %>
				<div class="twelve columns flash <%= key %>"><%= value %></div>
			<% end %>

			<article class="row">
				<%= yield %>
			</article>

			<p id="back-top">
				<a href="#top"><span></span>Back to top</a>
			</p>

			<footer>
				<div class="row">
					<div class="footer_one">
						<div class="seven columns about">
							<h2><i class="fa fa-info-circle"></i> <%= t('.aboutustitle') %></h2>
							<h4><%= t('.whatis') %></h4>
							<p><%= t('.aboutustext') %></p>
						</div>
						<div class="four columns offset-by-one affiliate">
							<h2><%= t('.affiliatetitle') %></h2>
							<p><%= t('.affiliatetext') %></p>
							<%= mail_to "lily@purplestoneacademy.com", t('.affiliatebutton'), class: "button" %>				
						</div>
					</div>
				</div>

				<nav class="row">
					<ul id="menu">
						<li><%= active_link_to "HOME", root_path, class: "first" %></li>
						<li><%= active_link_to "WEB DEVELOPMENT", webdevelopment_path, class: "link" %></li>
						<li><%= active_link_to "MARKETING", marketing_path, class: "link" %></li>
						<li><%= active_link_to "VIDEO EDITING", video_path, class: "link" %></li>
						<li><%= active_link_to "OTHER SERVICES", otherservices_path, class: "link" %></li>
						<li><%= active_link_to "PORTFOLIO", portfolio_path, class: "link" %></li>
						<li><%= active_link_to "BLOG", categories_path, class: "link" %></li>
						<li><%= active_link_to "CONTACT", new_contact_path, class: "last" %></li>
					</ul>
				</nav> <!--  #main_nav --> <!--  .row -->

				<div class="footer_two">
					<h1 class="three columns">
						<%= link_to(root_path) do %>
						<%= image_tag "logo_psm_white.png" %>
						<% end %>
					</h1>

					<div class="four columns slogan">
						<h2>Profitable Business Solutions</h2>
					</div>

					<div class="four columns offset-by-one">
						<div class="address">
							<p class="muted"><span class="fa-stack">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-phone fa-stack-1x"></i>
							</span> 0207 247 1440</p>
							<p>101 Whitechapel High Street<br />
							E1 7RA, London<br />						
							<i class="fa fa-map-marker"></i> Aldgate East</p>
						</div>

					</div>

				</div>

				<div class="row ourcompanies">

					<div class="twelve columns">
						<p><%= t('.ourcompanies') %></p>
						<br />
					</div>

					<div class="three columns">
						<%= link_to "http://www.purplestonegroup.com/" do %>
						<%= image_tag "logo_psg_white.png", width: '150' %>
						<% end %>
					</div>
					<div class="three columns">
						<%= link_to "http://www.purplestonecareeradvice.com/" do %>
						<%= image_tag "logo_psca_white.png", width: '185' %>
						<% end %>
					</div>
					<div class="three columns">
						<%= link_to "http://www.purplestoneacademy.com/" do %>
						<%= image_tag "logo_psa_white.png", width: '150' %>
						<% end %>
					</div>
					<div class="three columns">
						<%= link_to "http://www.pstonerooms.com/" do %>
						<%= image_tag "logo_psr_white.png", width: '150' %>
						<% end %>
					</div>

				</div>

				<div class="row copy">
					<p class="four columns">&copy; <%= Date.today.year %> Purple Stone Group Ltd</p>
					<div>
						<ul id="menu_footer" class="five columns">
							<li><%= link_to "Terms and Conditions", terms_path %></li>
							<li><%= link_to "Privacy Policy", privacy_path %></li>
						</ul>
					</div>
				</div>

			</footer>
		</div> <!--  .container -->
	</div>

</body>
</html>
